.blog-card {
	transition: box-shadow 0.3s ease;
	display: flex;
	flex-direction: column;
}

.tilt-card {
	cursor: pointer;
	background: transparent !important;
	box-shadow: none !important;
	border: none !important;
}

.tilt-content-wrapper {
	height: 100%;
	border-radius: var(--radius-card);
	/* 3D налаштування */
	transform-style: preserve-3d;
	will-change: transform;
}

/* Плавне повернення */
.tilt-content-wrapper.is-resetting {
	transition: transform 0.5s ease-out, box-shadow 0.3s ease;
}

/* Ефект підняття (Hover) */
.tilt-card:hover .tilt-content-wrapper {
	box-shadow: var(--shadow-md);
}

.card-image img {
	object-fit: cover;
	border-radius: var(--radius-card) var(--radius-card) 0 0;
}

.card-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.h-100 {
	height: 100%;
}

.input {
	min-width: 300px;
}

@media screen and (max-width: 768px) {
	.level-left,
	.level-right {
		justify-content: center;
		margin-bottom: 1rem;
	}

	.input {
		min-width: auto;
	}

	.buttons {
		justify-content: center;
	}
}
